# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
hw/#auto_saved_files#
hw/~Zelvicka.kicad_sch.lck
hw/~Zelvicka.kicad_pcb.lck
hw/~_autosave-Zelvicka.kicad_pcb.lck

hw/jlcdata/gerber
hw/jlcdata/gerbers.zip
hw/Zelvicka.step

.DS_Store
.venv/
site/


# ignore large photos: mkdocs-resize-images
assets-large
.resize-hash

node_modules/

build/
hw/fp-lib-table

docs/**/@types
docs/**/libs
